{% extends "ecomm/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body class="grey lighten-3">
 <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <div class="row">

        <div class="col-md-8 mb-4">

          <div class="card">

            <form method="POST" class="card-body">
              {% csrf_token %}
              <h3 class="my-5 h2 text-center">Shipping Address</h3>

            <div class="hideable_shipping_form">
              <div class="md-form mb-5">
                <input type="text" placeholder="1234 Main St" id="shipping_address" name="shipping_address" class="form-control">
                <label for="shipping_address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input type="text" placeholder="Apartment or Suite" id="shipping_address2" name="shipping_address2" class="form-control">
                <label for="shipping_address2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Zip</label>
                  <input type="text" placeholder="Zip Code" id="shipping_zip" name="shipping_zip" class="form-control">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
                <label class="custom-control-label" for="same_billing_address">
                  Billing address is the same as my shipping address
                </label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
              </div>
            </div>
              {% if default_shipping_address%}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                <label class="custom-control-label" for="use_default_shipping">
                  Use default shipping address: {{ default_shipping_address.address|truncatechars:10 }}
                </label>
              </div>
              {% endif %}
              <hr>

              <h3 class="my-5 h2 text-center">Billing Address</h3>

            <div class="hideable_billing_form">
              <div class="md-form mb-5">
                <input type="text" placeholder="1234 Main St" id="billing_address" name="billing_address" class="form-control">
                <label for="billing_address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input type="text" placeholder="Apartment or Suite" id="billing_address2" name="billing_address2" class="form-control">
                <label for="billing_address2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
<!--                  <select class="custom-select d-block w-100" id="country" required>-->
<!--                    <option value="">Choose...</option>-->
<!--                    <option>United States</option>-->
<!--                  </select>-->
                  {{ form.billing_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="billing_zip">Zip</label>
                  <input type="text" placeholder="Zip Code" id="billing_zip" name="billing_zip" class="form-control">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
              </div>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
            <label class="custom-control-label" for="use_default_billing">
              Use default billing address: {{ default_billing_address.address|truncatechars:10 }}
            </label>
           </div>
         <hr>
          <h3> Payment Option </h3>

          <div class="d-block my-3">
            {% for value, name in form.fields.payment_option.choices %}
            <div class="custom-control custom-radio">
              <input id={{ name }} name= "payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for={{ name  }}>{{ name }}</label>
            </div>
            {% endfor %}
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </div>
         </form>

      </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          {% include "ecomm/order_snippet.html"%}
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank" role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="https://dribbble.com/mdbootstrap" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="https://pinterest.com/mdbootstrap" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

</body>


{% endblock %}

{% block extra_scripts %}

<script>
var hideable_shipping_form = $('.hideable_shipping_form')
var hideable_billing_form = $('.hideable_billing_form')
console.log("Printing")
console.log(hideable_shipping_form)

var use_default_shipping = document.querySelector('input[name=use_default_shipping')
var use_default_billing = document.querySelector('input[name=use_default_billing')

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide()
  } else {
    hideable_shipping_form.show()
  }
 })

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide()
  } else {
    hideable_billing_form.show()
  }
 })
</script>
{% endblock extra_scripts %}